<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" th:href="@{/css/auth.css}">
</head>
<body>
<div class="auth-page" >
    <h1>로그인</h1>
    <div class="auth-container">
        <img class="auth-image" th:src="@{/images/jeans.png}" alt="blog logo">
        <div class="auth-box">
            <form class="auth-form" th:action="@{/login}" method="post">
                <input type="text" id="username" name="username" required placeholder="아이디"
                       autocomplete="new-username">
                <input type="password" id="password" name="password" required placeholder="비밀번호"
                       autocomplete="new-password">
                <button class="auth-btn" type="submit">로그인</button>
            </form>
            <hr>
            <div class="login-option">
                <a th:href="@{/userreg}">회원가입</a>
                <a>비밀번호 찾기</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
