<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!--공통 JS / CSS 영역을 관리하는 환경 영역-->
<head>
    <meta charset="UTF-8" />
    <title>thymeleaf layout</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0" />
    <link rel="stylesheet" href="/css/fragment.css">
    <script src="/js/auth.js" defer></script>
</head>
<body>
<div class="container">
    <th:block th:replace="~{fragments/header :: headerFragment}"></th:block>
    <div class="content">
        <th:block layout:fragment="content"></th:block>
    </div>
    <div th:replace="~{fragments/footer :: footerFragment}"></div>
</div>
</body>
</html>
